<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

 
<hibernate-configuration>
    <session-factory>
    
    	<mapping class="com.cookedspecially.domain.Dish" />
    	<!--  <mapping class="com.cookedspecially.domain.Category" /> -->
    	<mapping class="com.cookedspecially.domain.Section" />
    	<mapping class="com.cookedspecially.domain.Menu" />
    	<mapping class="com.cookedspecially.domain.User" />
    	<mapping class="com.cookedspecially.domain.Restaurant" />
    	<mapping class="com.cookedspecially.domain.Customer" />
    	<mapping class="com.cookedspecially.domain.Order" />
    	<mapping class="com.cookedspecially.domain.SeatingTable" />
    	<mapping class="com.cookedspecially.domain.OrderDish" />
    	<mapping class="com.cookedspecially.domain.Check" />
    	<mapping class="com.cookedspecially.domain.DeliveryArea" />
    </session-factory>
	    
</hibernate-configuration>