<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:remove="all">Template for HTML email with inline image</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
<body>

<h1 align="center">SALAD DAYS</h1>
<h5 align="center">Amicus Natural Products Pvt. Ltd.</h5>
<div align="center"><a href="http://www.saladdays.co" align="center">www.saladdays.co</a></div>
<div align="center"><a href="http://www.facebook.com/Saladdays.co" align="center">www.facebook.com/Saladdays.co</a></div>
<div align="center">9643 800 901/02/03</div>
<div align="center" th:text="${checkDate}"></div><br/>
<div th:if="${#bools.isTrue(customer)}">
<p>Name: <span th:text="${customer.firstName}"></span> <span th:text="${customer.lastName}"></span> </p>
<p>Address: <span th:text="${customer.address}"></span></p>
<p>Email Id: <span th:text="${customer.email}"></span></p>
<p>Phone No.: <span th:text="${customer.phone}"></span></p>
</div>
<table align="center" width="100%">
<tr>
<th width="33%">Item</th>
<th width="33%">Quantity</th>
<th width="33%">Amount</th>
</tr>
<div th:if="${not #maps.isEmpty(itemsMap)}">
<div th:each="item : ${itemsMap}">
	<tr>
		<td width="33%" align="center" th:text="${item.value.name}"></td>
		<td width="33%" align="center"> <p><span>X </span><span th:text="${item.value.quantity}"></span></p></td>
		<td width="33%" align="center" th:text="${item.value.price}"></td>
	</tr>
</div>
</div>
</table>
<hr/>
<div style="float:left">Sub Total</div>  <div style="float:right" th:text="${checkRespone.amount}"></div><br/>

<div th:if="${not #strings.isEmpty(checkRespone.additionalChargeName1)}">
<div style="float:left" th:text="${checkRespone.additionalChargeName1}"></div> 
<div style="float:right" th:text="${#numbers.formatDecimal(checkRespone.additionalCharge1, 1, 2)}"></div>
</div>
<br />
<div th:if="${not #strings.isEmpty(checkRespone.additionalChargeName2)}">
<div style="float:left" th:text="${checkRespone.additionalChargeName2}"></div> 
<div style="float:right" th:text="${#numbers.formatDecimal(checkRespone.additionalCharge2, 1, 2)}"></div>
</div>
<br />
<div th:if="${not #strings.isEmpty(checkRespone.additionalChargeName3)}">
<div style="float:left" th:text="${checkRespone.additionalChargeName3}"></div> 
<div style="float:right" th:text="${#numbers.formatDecimal(checkRespone.additionalCharge3, 1, 2)}"></div><br/>
</div>
<br />
<div style="float:left">Grand Total</div> 
<div style="float:right" th:text="${#numbers.formatDecimal(checkRespone.total, 0, 2)}">
</div><br/>
<div style="float:left">Rounded-off Total</div> <div style="float:right" th:text="${checkRespone.roundedOffTotal}"></div><br/>
<hr/>

<div align="center">TIN No.: 06551835911</div>
<div align="center"><span>Invoice No.: </span><span th:text="${checkRespone.invoiceId}"></span></div>
<br/>
<br/>
<div align="center">You're Awesome!</div>
<div align="center">-------</div>

</body>
</html>